/*容器样式*/
.container{
    //自动计算为当前可视屏幕的百分之百
    height:calc(100vh);
    /*背景颜色，线性渐变*/
    background-image:linear-gradient(to right,#fbc2eb,#a6c1ee);
  }
  
  /*表单样式*/
  .login-wrapper{
    background-color:#fff;
    width:250px;
    padding:050px;
    position:relative;
    left:50%;
    border-radius:15px;
    top:50%;
    transform:translate(-50%,-50%);
  }
  
  /*标题样式*/
  .login-wrapper.header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
  }
  
  /*输入框样式*/
  .login-wrapper .form-wrapper .input-item {
    display:block;
    width:100%;
    margin-bottom:20px;
    border:none;
    padding:10px;
    border-bottom:2px solid rgb(128,125,125);
    font-size:15px;
    outline:none;
  }
  
  .login-wrapper .form-wrapper .input-item::placeholder {
    text-transform:uppercase;
  }
  
  /*登录按钮的样式*/
  .login-wrapper .form-wrapper .btn {
    display:inline-block;
    text-align:center;
    width:100%;
    border:none;
    padding:5px;
    margin:40px auto 0;
    background-image:linear-gradient(to right,#fbc2eb,#a6c1ee);
    color:#fff;
    border-radius:5px;
  }
  
  /*鼠标悬停样式*/
  .login-wrapper .form-wrapper .btn:hover{
    cursor:pointer;
    color:rgba(13,36,36,0.76);
  }
  
  /*底部提示文字颜色*/
  .login-wrapper .msg{
    text-align:center;
    line-height:80px;
  }
  
  .login-wrapper .msg{
    text-decoration:none;
    color:#a6c1ee;
  }